extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio
    p This portfolio showcases my work as a trainee in software engineering.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects

        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`, alt=`Thumbnail ${project.project_name}`)
            h5 #{project.project_name}

